<section class="container">
  <div class="col-lg-12 col-sm-12">
    <h2>Jack Wu's Demo Blog</h2>
    <div class="nag">
      <small>* This is really just for demo Authentication and Authorization. It does not have much features to offer yet.</small>
    </div>

    <div class="post-new">
      <i class="fa fa-plus-circle"></i>
      <%= link_to "New Post", new_post_path %>
    </div>
    <div class="all-posts">
      <% @posts.each do |post| %>

      <div class="post-entry">

        <div clss="row post-bar">
          <div class="col-lg-12 col-sm-12">
            <h4 class="post-title"><%= post.title %></h4>

          </div>
        </div>

        <div class="post-content row">
          <div class="col-lg-12 col-sm-12"> <%= post.content %> </div>
        </div>

        <div class="post-actions row pull-right">
          <div class="col-lg-12 col-sm-12">
            <% if current_user && policy(:post).edit? %>
              <span>
                <i class="fa fa-pencil-square-o"></i>
                <%= link_to 'Edit', edit_post_path(post) %>
              </span>

              <span>
                <i class="fa fa-trash-o"></i>
                <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            <% end %>
          </div>
        </div>
      </div>

      <hr/>

      <% end %>
    </div>

  </div>
</section>
