<!DOCTYPE html>
<html>
<%= favicon_link_tag 'dna.png' %>
<head>
  <title>Jiangnan</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= include_gon %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="abstract">

  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='top-nav-menu-button'> Menu </div>
  </div>

  <div class="side-nav">
    <ul class='side-menu'>
      <li> <%= link_to "Resume",  root_path %> </li>
      <li> <%= link_to "Blog",    posts_path %> </li>
      <li> <%= link_to "Login ",  new_user_session_path %> </li>
      <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
    </ul>
  </div>

  <%= flash_messages %>

  <%= yield %>

</body>

<!-- FOOTER -->
<footer> </footer>
<!-- FOOTER -->

</html>
